html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: $negro;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4.2rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.no-margin {
    margin: 0;
}