@mixin mq1 {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin mq2 {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin mq3 {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
