// Fuentes
$fuente_principal: 'Abril Fatface', cursive;
$fuente_secundaria: 'Architects Daughter', cursive;
$fuente_parrafos: 'Cormorant', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$verde: #4CB8B3;
$rosa: #FF69B4;
$amarilo: #ADFF2F;
$morado: #9932CC;

// Gap
$espaciado: 1.5rem