.seccion {
    display: none;
    padding-top: 1.5rem;
    &:first-of-type {
        display: block;
    }
    h2 {
        color: $azul;
        font-family: $fuente_secundaria;
        font-size: 4.5rem;
        text-align: center;
    }
    p {
        color: $blanco;
        font-family: $fuente_parrafos;
        font-size: 2.8rem;
        text-align: center;   
    }
}