.lista-serv {
    
    @include mq2 {
        @include grid(2, $espaciado);
        padding-right: 1.5rem;
    }
    .servicio {
        margin: 1rem;
        padding: 3rem;
        border-radius: 1rem;
        background-color: $azul;
    }
    .nam-serv {
        font-size: 2.5rem;
        font-weight: bold;
        color: $blanco;
    }
    .prec-serv {
        margin-left: 50%;  
        transform: translateX(-50%);
        width: 45%;
        background-color: $morado;
        border-radius: 1rem;
        font-size: 3rem;
        font-weight: 500;
        color: $blanco;
        @include mq2 {
            width: 80%;
        }
    }
}