.app {
    
    .tabs {
        display: flex;
        flex-direction: column;
        font-family: $fuente_parrafos;
        text-align: center;
        padding-left: .5rem;
        padding-right: 1rem;

        @include mq2 {
        flex-direction: row;
        justify-content: space-between;
        padding-right: $espaciado;
        }
    }
    .bot {
        width: 100%;
        border-radius: .3rem;
        padding: .7rem;
        margin: .3rem;
        border: none;
        &:hover {
        cursor: pointer;
        color: $blanco;
        background-color: $azul;
        }
    }
}