.contenedor-estetica {
    
    @include mq2 {
        height: 100vh; // ! Toma toda la pantalla aunque no tenga tamaño definido
       
        @include grid(2, $espaciado);
    }    
    .imagen {
            height: 35rem;
            background-image: url(/build/img/1.jpg);
            background-size: cover;
            background-position: center;
            
            @include mq2 {
            margin: 1rem;
            }
            @include mq2 {
                height: auto;
            }
    }
    .header {
        font-family: $fuente_principal;
        text-align: center;
        color: $azul;
    }
}
