@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,400;1,500&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';

@import 'layout/UI';
@import 'layout/tabs';
@import 'layout/secciones';
@import 'layout/servicios';
